body{
  user-select: none;
}
main{
  display: flex;
  justify-content: center;
  margin: 50px;
}
a{
  text-decoration: none!important;
}

.box{
  padding: 30px;
  width: 600px;
}
.boxTitle{
  font-size: 60px;
}
.button{
  width: 150px;
  height: 40px;
}

#selectCategories {
  & label{
  display: block;
  margin: 5px 0;
  font-size: 180%;

    & input{
      margin-left: 20px;
      margin-right: 20px;
    }
    &:hover{
      background-color: rgba(0, 119, 255, 0.25);
      border-radius: 10px;
    }
  }
}

@media (max-width: 830px){
  html{
    width: 100%;
  }
  main{
    display: block;
    margin: 5px;
  }
  .box{
    width: auto;
  }
}
